html{
    font-family: "Helvetica";
    font-size: 30px;
}
.top-nav-list li{
    float:right;
     list-style-type: none;
  
}
#header{
    margin-bottom: 32px;
    position: :relative;
    
}
#nav{
      width:420px;
        height:90%;
        float:left;
}
#three-columns{
     height:90%;
       
      width: 850px;
        float:left;
}
.grid{
      position: absolute;
    padding: 0 0 0 0.75em;
    max-width: 73.4375em;
     margin-top: 0px;
  
   
   
}

.grid .product {
    margin-bottom: 24px;
        width: 20%;
        float: left;
       
}
.product .product-image {
    margin: 0 0 16px;
    width: 80%;
    height: auto;
    max-width: 100%;
    float: none;
}

.button-small {
     text-align: center;
}
.button{
          position: relative;
 font-size: 16px;
 
    display: inline-block;
 
    color: #fff;
    background-color: #148f6a;

    padding: 12px 16px;
    border-radius: 6px;
    border: 0;
   
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}
.product-title{
    font: 22px bold "Helvetica";
}
.product-desc{
     font: 16px;
        color: #626262;
}
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: 200px;;
	margin: 0 0 10px;
}
ul.rig li h3 {
	margin: 0 0 5px;
    font-size: 20px;
}
ul.rig li p {
font-size: 14px;
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30%; /* this value + 2.5 should = 33% */
}