* {
    margin: 0;
    padding-top: 0;
}

#payment {
    width: 540px;
    padding: 5px 15px; 
    border:2px solid #ccc; 
    border-radius: 5px;
    padding-top: 20px; 
}

.half-line {
    display: inline-block;
    width: 257px;
}

.input-half-line {
    width: 250px;
}

.input-full-line {
    width: 510px;
}

#payment label {
    font-family: "Roberto Condensed", Arial, Helvetica, sans-serif;
}

#payment select {
    margin-bottom: 15px;
    width: 255px;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 5px 15px; 
    border:2px solid #ccc; 
    border-radius: 5px;
    font-size: 12px;
}

input {
    margin-bottom: 15px;
}